<div id="<%= dom_id ingestion %>">
  <p>
    <strong>Dateandtime:</strong>
    <%= ingestion.dateAndTime %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ingestion.user_id %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= ingestion.method %>
  </p>

  <p>
    <strong>Strain:</strong>
    <%= ingestion.strain %>
  </p>

</div>
