<div id="<%= dom_id ingestion %>">
  <p>
    <strong>Date and Time:</strong>
    <%= ingestion.dateAndTime %>
  </p>

  <p>
    <strong>User:</strong>
    <%= User.find(ingestion.user_id).name %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= ingestion.method %>
  </p>

  <p>
    <strong>Strain:</strong>
    <%= ingestion.strain %>
  </p>

</div>
