<p style="color: green"><%= notice %></p>

<%= render @ingestion %>

<div>
  <%= link_to "Edit this ingestion", edit_ingestion_path(@ingestion) %> |
  <%= link_to "Back to ingestions", ingestions_path %>

  <%= button_to "Destroy this ingestion", @ingestion, method: :delete %>
</div>
